.user{
    display: flex;
    justify-content: flex-start; /*앞에서부터 배치*/
    align-items: center; /*세로축은 가운데*/
    padding: 16px;
    position: relative;
    
}

.user:hover{
    background-color: #f2f2f2;
}

.user__pic:not(.my-profile .user__pic){
    width: 50px;
    height: 50px;
    background-color: #c68a65;
    border-radius: 18px;
    margin-right: 10px;
}


.user__nick{
    margin:5px;
    font-size: 0.9em;
}

.user__state {
    margin:5px;
    font-size: 0.8em;
    color: #aeaeae;
    overflow: hidden; /*넘칠 경우 가림*/
    width: 50vw; /*화면크기의 50퍼센트를 width로 지정*/
    text-overflow: ellipsis; /*넘치는 경우 ...*/
    white-space: nowrap; /*여백이 여려게 있는 경우 하나의 여백으로 생각*/
}

